/* --- FONTS --- */

@font-face {
    font-family: "SegoeUIRegular";
    src: url("./fonts/SegoeUIRegular.eot");
    src: url("./fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/SegoeUIRegular.woff") format("woff"),
    url("./fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} /* SEGOE UI REGULAT */

@font-face {
    font-family: "SegoeUILight";
    src: url("./fonts/SegoeUILight.eot");
    src: url("./fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("./fonts/SegoeUILight.woff") format("woff"),
    url("./fonts/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} /* SEGOE UI LIGHT */

/* ICONS */

.icon-user
{
	background-image: url("./icons/user.png");
	background-repeat: no-repeat;
}

.icon-electronic
{
	background-image: url("./icons/electronic.png");
	background-repeat: no-repeat;
}

.icon-screen
{
	background-image: url("./icons/screen.png");
	background-repeat: no-repeat;
}

/* --- BODY STYLE --- */

body
{
	padding: 0px;
	margin: 0px;
    font-family: "SegoeUILight";
	font-size: 1.15em;	
	background-color: #E8ECEB;
    background-color: #F4F5F6;
    overflow: hidden;
}

/* --- TOP STYLE --- */

#top-wrapper
{
	height: 50px;
    width: 1000px;
	margin-top: 2%;
	margin-left: calc((100% - 1000px) / 2 );
    background-color: #1EAAF1;
    box-shadow: 1px 2px 4px rgba(30,170,241,0.8);
}

#logo-top
{
    height: 50px;
	width: 150px;
	margin-left: 10px;
    padding-left: 45px;
    display: inline-block;
    background-position: left center;
    background-size: 40px;
	line-height: 50px;
    text-align: center;      
}

#qsearch-top
{
	height: 30px;
	width:  498px;
    position: relative;
    top: -2px;
    left: 169px;
	display: inline-block;    
}

#qsearch-top input
{
    height: 30px;
	width: 498px;
    padding: 0px 10px 0px 10px;
	border: 0;
    background-color: #188BC4;
    box-sizing: padding-box;
    color: white;
    line-height: 30px;
	z-index: 0;
}

/* --- CONTAINER STYLE --- */

#main-container
{
    height: 515px;
    width: 1000px;
    margin-top: 5%;
    margin-left: calc((100% - 1000px) / 2);
    overflow: hidden;
}

#block-container
{
    height: 515px;	
	padding-left: 110px;
    background-color: rgba(0,0,0,0);
	transition: 0.6s;
    overflow: hidden;
}

.info-block
{
    height: 240px;
	width: 240px;
    margin: 10px 0px 0px 10px;
	display: inline-block;
	background-color: #FFF;
    background-position: center top;
    background-size: 200px;
	border: 2px solid rgba(239,240,241,1);
    text-align: center;
    line-height: 430px;
    transition: 0.4s;
}

.info-block:hover
{
	background-color: #DEDEDE;
    transition: 0.4s;
}

#button-back
{
    height: 50px;
    width: 100%;
	margin-top: 1px;
    background-color: #1EAAF1;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);	
    color: #0C435E;
    line-height: 50px;
    text-align: center;	
    transition: 0.4s;    
	overflow: hidden;
}

#button-back:hover
{
    background-color: #1990C9;
    transition: 0.4s;
}

#get-info-block
{
    height: 500px;
    background-color: white;
}

/* LOGIN BOX && MULTIUSE STYLE */

#login-box
{
	height: 50px;
    width: 50px;
	left: calc(100% - 50px);
	position: fixed;
    background-color: #1EAAF1;
    background-image: url("./icons/user.png");
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px rgba(30,170,241,0.8);
    border: 0;	
    transition: 0.4s;
}

#login-box:hover
{
    background-color: #1990C9;
    box-shadow: 1px 1px 5px rgba(20,160,231,0.8);
    transition: 0.4s;
}

#multiuse-container
{
    height: 100%;
	width: 256px;
	top: 0%;
    left: calc(100% + 100px);	
    position: fixed;
	display: inline-block;
	background-color: #37474E;
	color: #A6ADB0;
    transition: 1s;
    z-index: 1;
}

#multi-close
{
    height: 100%;
	width: calc(100% - 256px);
    top: 0%;
	position: fixed;
    display: none;
    opacity: 0;
}

/* --- MULTIUSE FORM STYLE --- */

#multiuse-container form
{
	position: relative;
	top: 25%;
	padding-top: 180px;
	background-size: 150px;
	background-position: top center;
}

#login-form input
{
	height: 30px;
	width: 150px;
	left: 53px;
	margin-bottom: 15px;
	padding: 5px 10px 5px 20px;
	position: relative;	
	background-color: #263237;
	background-position: left;
	background-size: 20px;
	border: 0;
	color: white;
	transition: 0.5s;
}

#login-form input:focus, #login-form input:hover
{
	width: 236px;
	left: 10px;
}

#login-error-state
{
	height: 0px;
	width: 256px;	
	left: 0px;
	position: relative;
	background-color: #FF4040;
	text-align: center;
	line-height: 40px;
	font-family: "SegoeUIRegular";
	color: white;
	transition: 0.6s;
}

#login-button
{
	height: 40px;
	width: 236px;
	margin-top: 5px;
	left: 10px;
	background-color: #37474E;
	position: relative;
	line-height: 40px;
	text-align: center;	
	color: white;
	transition: 0.5s;
}

#login-button:hover
{
	background-color: #263237;
	transition: 0.5s;
}