<style>	body{	top: 0px;	left: 0px;	width: 100%;	height: 100%;	margin: 0;	}</style>
<div id="header"></div><div id="button-close" onclick="LOAD_AdminDash()"></div>
<div id="group-shedule-edit"></div>
<div id="group-shedule-choice">
	<div id="even-choice">
		<p onclick="PRELOAD_shedule_edit(0, null)">Числитель</p>
		<p onclick="PRELOAD_shedule_edit(1, null)">Знаменатель</p>
	</div><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 1)">Понедельник</p><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 2)">Вторник</p><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 3)">Среда</p><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 4)">Четверг</p><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 5)">Пятница</p><!--
--><p class="day-choice" onclick="PRELOAD_shedule_edit(null, 6)">Суббота</p><!--
--><p class="day-choice" onclick="SEND_shedule_edit(0,1)">Сохранить</p>
</div>