<div class="main-block" id="import-export">
    <p style="border-bottom: 2px solid rgba(160, 160, 160, 0.4)" onclick="LOAD_import_shedule()">Импорт расписания</p>
    <p>Экспорт расписания</p>
</div>
<div class="main-block" id="group-add" onclick="LOAD_GroupAdd()">Добавить группу</div>
<div class="main-block" id="message-sent"><!--
    --><div id="message-manager" onclick="LOAD_Message_manager()"></div><!--
    --><div id="message-more" onclick="LOAD_Message()"></div><!--
    --><div id="message-type" data-messagetype="alert" onclick="SHOW_message_types()">
    <p id="message-type-p-type">Важно</p>
    <div id="message-type-input">
        <div class="message-type-list" onclick="SET_message_type('alert')">Важно</div>
        <div class="message-type-list" onclick="SET_message_type('note')">Внимание</div>
        <div class="message-type-list" onclick="SET_message_type('info')">Инфо</div>
    </div>
    </div><!--
    --><div id="message-to"><input type="text" id="message-to-input"></div><!--
    --><div id="message-text"><input id="message-text-input" type="text"></div><!--
    --><div id="message-push" onclick="SEND_message_small()"></div><!--
--></div>
<div class="main-block" id="swap" onclick="LOAD_Swap()">Заменить пару</div>
<div class="main-block" id="shedule-change">
    <p>Изменить расписание</p>
    <div id="shedule-change-group" onclick="LOAD_GroupChange()"></div><!--
    --><div class="delimeter-div" style="height: 100px;"></div><!--
    --><div id="shedule-change-teacher" onclick="LOAD_ProfessorEdit()"></div>
</div>
<div class="main-block" id="print" onclick="LOAD_PrintDialog()">Печать</div>
<div class="main-block" id="classroom">
    <p>Установить аудитории</p>
    <div id="classroom-auto"></div><!--
    --><div class="delimeter-div" style="height: 150px;"></div><!--
    --><div id="classroom-manual" onclick="LOAD_RoomsEdit()"></div>        
</div>
<div class="main-block" id="bugreports" onclick="LOAD_Reports()">Ппросмотр баг отчетов</div>
<div class="main-block" id="settings">Настройки</div>