<div id="main-container">
    <div id="change-group" onclick="GroupChoice()">Сменить группу</div>
    <div id="time-now"></div>
    <div class="inline-block-main" id="AllShedule" onclick="LOAD_fullShedule()">Полное расписание</div>
    <div class="inline-block-main" id="AllProfessors" onclick="LOAD_Professors()">Преподаватели</div>
    <div class="inline-block-main" id="ActualShedule"></div>
    <div class="button" id="switch1" onclick="Open_Shedule('today')"></div>
    <div class="button" id="switch2" onclick="Open_Shedule('tomorrow')"></div>
    <div class="inline-block-main" id="ProfessorNow"></div>
    <div class="inline-block-main" id="SendReport">Отправить ошибку</div>
    <div class="inline-block-main" id="Alerts"></div>
    <div id="change-user" onclick="AuthLoad()">Авторизироваться</div>
</div>